{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}

<form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

<!-- Make join -->
<!-- Make room -->

{% for user in users %}

        {{user.username}} 
    
        <form action="{% url 'core_index' %}" method="post">
            {% csrf_token %}

            <input type="hidden" name="auth" value="{{ user.id }}">
            <input type="submit" value="Add Friend">
        </form>
        
{% endfor %}

<hr>

Already Friends:


{% for friend  in already_friends %}

    <div style="display: flex; gap:10px">
        {{friend}}
        <a href="{% url 'core_conversation' friend.id %}">Chat</a>
    </div>

{% endfor %}
    



{% if messages %}
    {% for message in messages %}
        <p class="alert">{{ message }}</p>
    {% endfor %}
{% endif %}

{% endblock %}